@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), url(./fonts/Montserrat-Bold.ttf) format('woff2');
}
/* basic html,body adjustments and fonts */
html, body {
    width: 100%;
    height: auto;
}
body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif !important;
    color: #001A33;
    -webkit-tap-highlight-color: #222;
    top:0;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
